@media screen and (max-width: 940px) {
  .title {
    padding-top: 100px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 750px) {
  .hangman-img img {
    max-width: 200px;
  }
  .button {
    padding: 10px 20px;
    font-size: 0.85rem;
  }
  .button:hover {
    color: inherit;
  }
  .input-block label,
  .wrong-letters_guesses > div:nth-child(1),
  .wrong-letters_guesses > div:nth-child(2) {
    font-size: 0.75rem;
  }
  .error-letter {
    font-size: 0.7rem;
  }
  .btn-input-div {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 400px) {
  .hangman-img img {
    max-width: 150px;
  }
  .game-over,
  .congrats {
    margin-bottom: 40px;
    font-size: 1rem;
  }
  .button {
    font-size: 0.8rem;
  }
  .hint {
    font-size: 0.65rem;
  }
  .word-box,
  .input-letter {
    width: 45px;
    height: 45px;
    font-size: 1rem;
  }
  #instructions-button {
    margin-top: 30px;
  }
}
