/* Import the font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Default configuration */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #525252;
  color: #fff;
  font-family: 'Press Start 2P', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Welcome Page */
.welcome {
  text-align: center;
}

.welcome h1 {
  font-size: 2rem;
  padding-bottom: 1rem;
  letter-spacing: 0.15rem;
}

.welcome p {
  padding: 10px;
  line-height: 1.3rem;
  text-align: center;
  font-size: 1rem;
  max-width: 1000px;
}

.button,
button {
  font-family: 'Press Start 2P', sans-serif;
  border: 1px solid #fff;
  background: none;
  padding: 15px 25px;
  border-radius: 8px;
  color: inherit;
  display: inline-block;
  margin-top: 20px;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.button:hover,
button:hover {
  color: #818181;
}

/* Game page */
.game {
  max-width: 1000px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  padding: 0 50px;
}

.hangman-img {
  padding: 0 20px;
}

#word-wrapped {
  display: flex;
  align-items: center;
  justify-content: center;
}

.word-box {
  border: 3px solid #fff;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  margin: 0 2px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  text-transform: lowercase;
}

.hint,
.wrong-letters_guesses {
  letter-spacing: 0.05rem;
  font-size: 0.85rem;
  text-align: left;
  padding-top: 10px;
}

.letters-used {
  font-size: 0.9rem;
  padding-top: 10px;
}

.wrong-letters_guesses > div:first-child {
  padding-bottom: 5px;
}

main button {
  border: 2px solid #fff;
}
